<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <title>Go Search</title>
    <style>
        .home-content {
            margin-top: 30vh;
        }

        body {
            background-color: #fafafa;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="home-content">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="display-4 tex">Go Search</h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="input-group" action="/search" method="get">
                    <input type="text" class="form-control" name="keywords"
                           placeholder="Search topics or keywords">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

<script src="/static/js/jquery-slim.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>