.upper {
    min-height: 15vh;
    background-color: #fafafa;
    border-bottom-style: solid;
    border-bottom-color: #e0e0e0;
    border-bottom-width: 1px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lower {
    margin-top: 1.5em;
}

.result-container {
    margin: 0.5em;
}

.result-title {
    font-size: larger;
}

.result-link {
    font-size: smaller;
    margin: 0;
    color: #1c7430;
}

.result-meta {
    font-size: smaller;
    margin: 0;
}